.image-upload{
    padding:10px;
    background-color:rgba(210,210,210,0.2);
    border:1px solid #DDD;
}
.image-preview{
    padding-top:10px;
}

.input-gallery .file-to-upload{
	display: none;
}

.form-group-url{
    width: 100%;
}

table tr td{
	padding: 8px !important;
}

.mark-image-as-main{
	margin-right: 10px;
}

.content-hover-box{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ecf0f5;
	top:100%;
	left:0px;
	border-top: 1px solid #ccc;
}

.content-hover-box{
	overflow-y: auto;
}


.gray-background{
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(236,240,245,0.4);
    z-index:999;
    width:100%;
    height:100%;
    display:table;
}

.absolute-centerer{
    width:auto;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.white-tooltip{
    position:relative;
    white-space: nowrap;
    padding:5px;
    background-color:white;
    border-radius:5px;
    width:auto;
    margin:0px auto;
    margin:0 20%;
}

.popup-hover-box{
    overflow-y: auto;
}

.hidden-templates{
    display: none;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    /*background-color: rgba(10,110,120,0.7);*/
}