.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/img/bck.jpg) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);;
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}
.white-layer{
    background-color: rgba(200,200,200,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    
}
.centerer{
    display: table;
    width: 400px;
    height: 100%;   
    margin:0px auto;
    padding-bottom:100px;
}
.login-box-body, .login-logo{
    background-color: rgba(255,255,255,0.6) !important;

}
.login-logo{
    margin-bottom: 0;
    padding-top:10px;
}
.login-box{
    margin:0 !important;
    display: table-cell;
    vertical-align: middle;
    width: 300px !important;
    margin: 0px auto;
}
footer{
    position: absolute;
    bottom:10px;
    text-align:center;
    width: 100%;
}
.login-box{
    position: relative;
}
.alert{
    position: absolute;
    margin-top:10px;
    width:100%;
}
@media (max-width: 760px){
    .centerer{
        width:98%;
        margin-left:1%;
    }
}